{#
/**
 * @file
 * Default theme to display tooltip on text elements on hover.
 *
 * Available variables:
 * - text: text of the rendered field.
 * - tooltip: Tooltip text.
 */
 #}

<p class="tooltiphover" title="{{ tooltip }}">{{ text }}</p>